:root {
  --bgBlack: #000000;
  --bgNavBlack: #000000da;
  --bgNormalBlack: #090909;
  --bgLightBlack: #202020;
  --bgTonedBlack: #00000066;
  --bgBoxShadowBlack: #0000003c;
  --primaryColor: #6a48f2;
  --primaryColorToned: #6a48f2aa;
  --bgPreLoader: #8a2be205;
  --preLoaderCircle2: #5c0ac0;
  --preLoaderCircle3: #8610c1;
  --preLoaderCircle4: #a90fb4;
  --textWhite: #f4f0f0;
  --textLightGray: #dddddd;
  --textNormalGray: #888888;
  --textDarkGray: #404040;
}
