:root {
  --bgBlack: #000000;
  --bgNavBlack: #000000da;
  --bgNormalBlack: #090909;
  --bgLightBlack: #202020;
  --bgTonedBlack: #00000066;
  --primaryColor: #6a48f2;
  --textWhite: #f4f0f0;
  --textLightGray: #dddddd;
  --textNormalGray: #888888;
  --textDarkGray: #404040;
}
